@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';

	/* outline: 1px solid red; */
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

.main-content {
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4rem 0;
}

.app-name {
	font-style: normal;
	font-weight: 600;
	font-size: 5rem;
	line-height: 56px;

	background: -webkit-linear-gradient(45deg, rgb(0, 68, 255), rgb(7, 160, 248), rgba(119, 206, 255, 1));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	text-shadow: 0px 1px 6px rgba(0, 153, 255, 0.596);

	margin-bottom: 4rem;
}

/* Simple bar component */

.tasks {
	padding: 2.2rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
	width: 110rem;
}

.simplebar-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	/* outline: 1px solid blue; */
}

.simplebar-scrollbar:before {
	background: linear-gradient(180deg, #3E74FF 0%, #43BBFF 100%) !important;
	opacity: 1 !important;
}
.simplebar-scrollbar {
	background-color: linear-gradient(180deg, #3E74FF 0%, #43BBFF 100%) !important;
}


/* Media Queries */

@media only screen and (max-width: 1100px) {
	.tasks{
		width: 104rem !important;
	}
}
@media only screen and (max-width: 1024px) {
	.input-container, .task-container{
		width: 90rem !important;
	}
	.tasks{
		width: 95rem !important;
	}
}
@media only screen and (max-width: 960px) {
	.input-container, .task-container{
		width: 75rem !important;
	}
	.tasks{
		width: 80rem !important;
	}
}
@media only screen and (max-width: 800px) {
	.input-container, .task-container{
		width: 60rem !important;
	}
	.tasks{
		width: 65rem !important;
	}
}
@media only screen and (max-width: 650px) {
	.input-container, .task-container{
		width: 50rem !important;
	}
	.tasks{
		width: 55rem !important;
	}
}
@media only screen and (max-width: 550px) {
	.input-container, .task-container{
		width: 40rem !important;
	}
	.tasks{
		width: 45rem !important;
	}
}
@media only screen and (max-width: 390px) {
	.input-container, .task-container{
		width: 36rem !important;
	}
	.tasks{
		width: 41rem !important;
	}
	
	.time{
		right: 25% !important; 
	}
}
